* {
  box-sizing: border-box;
  background: initial;
}

body {
  background: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: white;
}

@media (orientation: portrait) {
  html {
    font-size: 10px;
  }
}


.App {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}


@font-face {
  font-family: "PatrickHand-Regular";
  src: url("./fonts/PatrickHand-Regular.woff2") format('woff2');
}

.paper-name {
  font-family: PatrickHand-Regular;
  font-size: 4rem;
  border: #BBB solid 4px;
  background-color: #AFADAA;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 4px;
  margin-top: 18px;
  width: 100%;
  color: white;
}

.logo-text {
  height: 2rem;
  position: relative;
  top: 0.3rem;
  margin-bottom: 1rem;
}

.blurb {
  font-size: 2rem;
  /* font-weight: lighter; */
}

.wish {
  font-size: 2rem;
  font-weight: lighter;
}

.background {
  position: fixed;
  overflow: hidden;
}

.bg-left {
  left: 2rem;
  top: 2rem;
  max-height: 23%;
  max-width: 35%;
}

.bg-right {
  right: 2rem;
  top: 2rem;
  max-height: 20%;
  max-width: 35%;
}

.bg-bottom {
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  max-height: 18%;
  max-width: 80%;
}

.ms-Button {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

.content {
  max-height: 75%;
  max-width: 90vw;
  margin: auto;
  flex-shrink: 0;
}

.warning {
  font-size: 1rem;
  color: #AFADAA;
}